* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1b6e68;
  font-family: "Comfortaa", cursive;
  padding: 40px;
  /* width: 1240px;
  height: 1754px; */
}

.wrapper {
  background: #72bf9e;
  display: flex;
  max-width: 780px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.3);
  height: 1754px;
}

.sidebar {
  background: #0a272f;
  width: 460px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.photo {
  width: 400px;
  border-radius: 200px;
  /* margin-top: 10px; */
  margin-left: 31px;
  margin-right: 30px;
  /* border: solid 3px#72bf9e; */
}

.about-me-conteiner {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts-conteiner {
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contacts-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #1b6e68;
  margin-bottom: 15px;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #72bf9e;
}

.icon {
  fill: #1b6e68;
  margin-right: 10px;
}
.tech-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #1b6e68;
  margin-bottom: 15px;
}
.tech-skills-conteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

.tech-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-left: 15px;
}
.tech-skills-text {
  color: #72bf9e;
}

.my-own-skills-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #1b6e68;
  margin-bottom: 15px;
}

.my-own-skills-conteiner {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 60px;
}

.my-own-skills-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-left: 15px;
}

.my-own-skills-text {
  color: #72bf9e;
}

.profession {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  /* margin-bottom: 15px; */
}

.name {
  font-size: 35px;
  font-weight: 700;
  line-height: 80px;
  color: #0a272f;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* margin-top: 24px; */
}

.info-conteiner {
  margin-bottom: 40px;
}

.project-conteiner {
  margin-bottom: 40px;
}

.about-me-container {
  margin-top: 50px;
}

.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 25px;
}

.project-item {
  margin-bottom: 10px;
}

.project-link {
  color: #06303b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 3px;
  margin-bottom: 5px;
}

.tech-name {
  color: #06303b;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* .dots {
  color: #06303b;
  font-weight: 100;
} */

.project-item {
  font-weight: 700;
  margin-left: 18px;
}
.project-item::marker {
  font-weight: 600;
}

.companies {
  margin-bottom: 15px;
}

.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
}

.project-company {
  color: #0a272f;
}

.proffesion-time {
  color: #06303b;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.profession-duties {
  margin-top: 14px;
  margin-bottom: 20px;
}

.profession-duties-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
}

.study-place {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20 px;
  color: #0a272f;
}

.study-place1 {
  margin-bottom: 15px;
}

.profession-education {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.study-time {
  color: #06303b;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
